<div class="about-us">
            <div class="about-us-image">
               {{ about_image }}
            </div>
            <div class="about-us-content">
                <div class="teste">
                <div class="subtitle">
                    Sobre nós
                </div>
                <div class="title">
                    LA’BRIZZA
                </div>
            </div>
                <div class="text">
                    <p>A LA’BRIZZA apresenta sua linha de produtos de alto nível. Somos uma marca brasileira inspirada em padrões e tendências internacionais.</p>
                    <p> Todos os nossos produtos são desenvolvidos com total respeito às pessoas, animais e normas de controles de preservação do meio ambiente, com embalagens exclusivas, práticas e seguras.</p>
                    <p>A união de profissionais altamente qualificados e preparados para acompanhar o desenvolvimento e os testes de qualidade, garantem a eficácia e a segurança em todas as aplicações.</p>
                    <p>O nosso valor apoia-se em diferenciais competitivos que unem inovação, ousadia e respeito.</p>
                    <p>LA’BRIZZA, uma incrível experiência em se sentir confiante.</p>
                </div>
            </div>
        </div>