{{ ##
    Description: Renders filter fields to filter the products
    Params:
        - aggregations: products aggregations data
    Usage:
        filter aggregations: data...aggregations
## }}

{{ if aggregations?.filters }}

    <div class="filters">
        
        <input type="hidden" id="hidden-min-price-value" name="hidden-min-price-value" value="{{ aggregations.minimum_price }}">
        <input type="hidden" id="hidden-max-price-value" name="hidden-max-price-value" value="{{ aggregations.maximum_price }}">
                
        {{ for filter in aggregations.filters }}
            <div class="filter-item">
                <h4>{{ filter.field }}</h4>
                {{~ if filter.field == "Cor" || filter.field == "cor" ~}}
                    <div class="filter-content filter-color">
                        {{ for value in filter.values }}
                            <label>
                                <div id="filter_{{ filter.field | html.url_encode }}_{{ value.name | html.url_encode }}">
                                    <input type="radio" class="hidden" id="filter_{{ filter.field | html.url_encode }}_{{ value.name | html.url_encode }}" value="{{ filter.field }}__{{ value.name }}" onclick="setFilter(this.value)">
                                    <img src="/colorhandler?cor={{ value.name }}" alt="{{ value.name }}" title="{{ value.name | string.capitalize }}">
                                </div>
                            </label>
                        {{ end }}
                    </div>
                {{~ else ~}}
                    <div class="filter-content">
                        {{ for value in filter.values }}
                            <label>
                                <input type="checkbox" id="filter_{{ filter.field | html.url_encode }}_{{ value.name | html.url_encode }}" value="{{ filter.field }}__{{ value.name }}" onchange="setFilter(this.value)">
                                <span>{{- value.name + ' (' + value.quantity + ")" -}}</span>
                            </label>
                        {{ end }}
                    </div>
                {{~ end ~}}
            </div>
        {{ end }}
        
        {{ price_range_filter price_ranges: aggregations.price_ranges }}
        
    </div>

{{ end }}