<div class="newsletter">
    <div class="newsletter-content">
        <div class="subtitle">
            {{ recive_subtitle }}
        </div>
        <div class="title">
            {{ recive_title }}
        </div>
    </div>
    <div class="newsletter-form">
        <div class="newsletter-input-name">
            <label for="name">Nome completo</label>
            <input name="name" placeholder="Nome Completo" type="text">
        </div>
        <div class="newsletter-input-email">
            <label for="email">E-mail</label>
            <input name="email" placeholder="E-mail" type="text">
        </div>
        <div>
            <button class="newsletter-button">Enviar</button>
        </div>
    </div>
</div>