<div class="toggle-sidebar toggle-sidebar-right cart-sidebar toggle-sidebar-close">

    <div class="toggle-sidebar-content">

        <div class="toggle-sidebar-header">
            <h3>MEU CARRINHO</h3>
            <a href="javascript: void(0);" rel="noreferrer noopener" aria-label="Fechar carrinho" class="toggle-sidebar-close">
                <svg class="toggle-sidebar-close" xmlns="http://www.w3.org/2000/svg" width="14.964" height="14.964" viewBox="0 0 14.964 14.964">
                    <path class="toggle-sidebar-close" d="M6.225,4.811A1,1,0,0,0,4.811,6.225L10.586,12,4.811,17.775a1,1,0,0,0,1.414,1.414L12,13.414l5.775,5.775a1,1,0,0,0,1.414-1.414L13.414,12l5.775-5.775a1,1,0,0,0-1.414-1.414L12,10.586Z" transform="translate(-4.518 -4.518)"/>
                </svg>
            </a>
        </div>

        <div class="toggle-sidebar-container" id="min-cart-items"></div>

    </div>

</div>