/* --- Header ------------------------------------------------------------------------ */

.header {
  background-color: #000;
  position: relative;
  z-index: 3;
}

.header-content .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: calc(100% - 239px);
}

.header-logo-menu {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo-menu .nav {
  min-width: 400px;
  font-weight: 300;
}

.header-account-cart {
  display: flex;
  justify-content: end;
  gap: 50px;
  align-items: center;
  min-width: 400px;
}

.header-account-cart .header-cep {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 15px;
  font-weight: 300;
}

.header-account-cart > a,
.header-account-cart .header-search-button {
  display: flex;
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 22px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.header-account-cart > a:hover {
  text-decoration: none;
}

.header .header-search-wrapper.active .header-search-button::before,
.header-account-cart .header-search-button:hover::before,
.header-account-cart > a:hover::before {
  content: " ";
  background-color: var(--color_header_icons);
  opacity: 0.08;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-content {
  position: relative;
}

.header-search-form {
  display: none;
  background-color: var(--color_header_background);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 45px 15px;
  z-index: 5;
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
}

.header-search-form.active {
  display: block;
}

.header-search-form-content {
  max-width: 925px;
  margin: auto;
  position: relative;
}

.header-search-form-content input.input-search {
  display: block;
  width: 100%;
  background: #fff;
  border: none;
  border-bottom: 1px solid var(--color_general_text);
  color: var(--color_general_text);
  line-height: 24px;
  padding: 10px 60px 10px 20px;
  border-radius: 0;
}

.header-search-form-content input.input-search::placeholder {
  color: var(--color_general_text);
}

.header-search-form-content input.input-search:focus {
  box-shadow: none;
}

.header-search-form-content button.button-search {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
}

.header-search-form-content button.button-search svg,
.header-search-form-content button.button-search svg * {
  fill: var(--color_general_text);
}

.header-search-form-content .suggestion {
  position: static;
  box-shadow: none;
  margin-top: 40px;
  padding: 0;
  justify-content: space-between;
}

.header-search-form-content .suggestion:not(.is-hidden) {
  display: flex !important;
}

.header-search-form-content .suggestion .suggestion-words {
  width: 48%;
  padding: 0;
  margin: 0;
}

.header-search-form-content .suggestion .suggestion-products {
  width: 48%;
}

.header .line {
  height: 120px;
  transition: ease-out 0.3s;
}

.header .logo {
  display: block;
  flex-shrink: 0;
  font-size: 0;
  padding: 10px 0;
}

.header .logo img {
  width: auto;
  height: auto;
}

.header .logo svg + .title-store,
.header .logo img + .title-store {
  display: none;
}

.account div > span {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  min-height: 17px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
}

.header .cart-toggle {
  position: relative;
  display: flex;
  gap: 3px;
}

.header .cart-toggle .cart-quantity {
  color: white;
}

.header .cart-toggle .cart-quantity::before {
  content: "(";
}

.header .cart-toggle .cart-quantity::after {
  content: ")";
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_header_menu);
  max-width: 160px;
  width: auto;
}

.account-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
}

.account a {
  color: var(--color_header_menu);
}

.account svg {
  width: 24px;
}

.account > div {
  width: calc(100% - 40px);
  line-height: 15px;
  margin-left: 16px;
}

.account > div:not(.hidden) {
  display: block;
}

.account span {
  font-size: 14px;
  line-height: 24px;
}

.account > div > span {
  white-space: nowrap;
}

.account .login-links {
  display: flex;
  align-items: flex-start;
  font-size: 13px;
}

.account .login-links span {
  margin: 0 3px;
  font-size: 13px;
  line-height: 15px;
}

.nav .container {
  max-width: 1230px;
}

.nav .list > .first-level.first-level-all:not(.active) {
  display: none;
}

.nav .list > .first-level.first-level-all-end {
  order: 1;
  margin-left: 40px;
  margin-right: 0;
}

.nav .list > .first-level:last-child {
  margin-right: 0;
}

.nav a {
  color: var(--color_header_menu);
}

.nav .list > li > a {
  position: relative;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav .list li svg.bars {
  margin-right: 7px;
}

.nav .list li svg.bars,
.nav .list li svg.bars * {
  fill: var(--color_header_menu);
}

.nav .list li svg.arrow {
  margin-left: 7px;
  width: 8px;
}

.nav .list li svg.arrow,
.nav .list li svg.arrow * {
  fill: var(--color_header_menu);
}

.nav .list .second-level {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color_header_background);
  transition: ease-out 0.2s;
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
  left: 0;
  top: 100%;
  display: block;
  z-index: 6;
}

.nav .list .second-level > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px 25px;
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 35px 20px;
  width: 100%;
}

.nav .list .second-level > ul > li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

.nav .first-level:hover .second-level {
  opacity: 1;
  visibility: visible;
  background-color: var(--color_header_background);
}

.nav .list .second-level ul li a {
  display: inline-block;
  padding: 5px 0;
  margin: 6px 0;
}

.nav .third-level {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

.nav .third-level::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color_header_menu);
  opacity: 0.2;
}

.fixed .nav {
  transform: translateY(-115%);
  transition: transform 0.3s ease-out, background 0s ease-out 0.3s;
}

.fixed .nav .list > li > a .icon {
  max-height: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.2s ease-out 0.2s;
}

.fixed .nav.show-nav {
  transform: translateY(0);
  box-shadow: 0 1px 5px rgb(0 0 0 / 6%);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav .list > li.sub > .sub-list > li a {
  display: block;
  padding: 12px 0;
}

.nav .second-level > a {
  display: block;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0.625rem;
  background-color: #fff;
  transform: translateX(calc(-100% - 10px));
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  z-index: 20;
  transition: ease-out 0.3s;
}

.menu-mobile.show {
  transform: translateX(0);
}

.menu-mobile .close-box {
  top: 33px;
  right: 20px;
  color: var(--color_general_text);
}

.menu-mobile .header-menu {
  margin-right: 1.25rem;
  cursor: default;
}

.menu-mobile .block-title {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  padding-right: 3.125rem;
  color: var(--color_sections_title);
}

.menu-mobile .nav-mobile-wrapper {
  flex-grow: 1;
  height: calc(100% - 180px);
  margin: 1.875rem 0;
  padding: 1.875rem 0;
  overflow: auto;
  border-top: solid 2px var(--color_general_text);
  border-bottom: solid 2px var(--color_general_text);
}

.nav-mobile {
  height: calc(100% - 40px);
  overflow: auto;
  margin: 20px -15px 0;
}

.nav-mobile::-webkit-scrollbar {
  width: 6px;
  background: #eee;
}

.nav-mobile::-webkit-scrollbar-track {
  background: #eee;
}

.nav-mobile::-webkit-scrollbar-thumb {
  background: var(--color_general_text);
  border-radius: 5px;
}

.nav-mobile .first-level > li {
  border-bottom: 1px solid #e9ebee;
}

.nav-mobile .list li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
  padding: 20px 15px;
}

.nav-mobile .list li a span {
  width: calc(100% - 25px);
}

.nav-mobile .list li a svg {
  width: 13px;
}

.nav-mobile .list li a svg,
.nav-mobile .list li a svg * {
  fill: var(--color_general_text);
}

.nav-mobile .list li.open > a svg {
  transform: rotate(180deg);
}

.nav-mobile .list .second-level li {
  border-top: 1px solid #e9ebee;
}

.nav-mobile .list .second-level li a {
  padding-left: 30px;
}

.nav-mobile .list .third-level li a {
  padding-left: 60px;
}

.nav-mobile li.sub > .second-level,
.nav-mobile .third-level {
  display: none;
}

.nav-mobile li.open > ul {
  display: block !important;
}

.nav-mobile li.sub.show > a::after {
  transform: rotate(-180deg);
}

.header-account-cart a svg {
  display: block;
  margin: auto;
}

.header-account-cart a svg,
.header-account-cart a svg * {
  fill: var(--color_header_icons);
}

.account svg,
.account svg * {
  fill: var(--color_header_icons);
}

.menu-toggle-header {
  height: 41px;
  display: flex;
  align-items: center;
}

.menu-toggle-header .account {
  max-width: 100%;
  display: flex;
  color: var(--color_general_text);
}

.menu-toggle-header .account span {
  font-size: 15px;
}

.menu-toggle-header .account a {
  font-size: 14px;
}

.menu-toggle-nav-categories {
  margin: 25px 0 0;
  display: grid;
  grid-gap: 25px;
  max-height: calc(100% - 64px);
  overflow: auto;
  padding-top: 25px;
  position: relative;
}

.menu-toggle-nav-categories::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color_footer_text);
  opacity: 0.2;
}

.menu-toggle-nav-categories a {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 15px;
}

.menu-toggle-nav-categories a svg {
  width: 7px;
  height: auto;
}

.menu-toggle-nav-subcategories {
  display: none;
  grid-gap: 25px;
}

.menu-toggle-nav-categories::-webkit-scrollbar {
  border-radius: 10px;
  width: 4px;
  background-color: #ebebeb;
}

.menu-toggle-nav-categories::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #929292;
}

.menu-toggle-container.open-subcategories .menu-toggle-nav-top {
  display: none;
}

.menu-toggle-container.open-subcategories .menu-toggle-nav-categories {
  height: calc(100% - 122px);
}

.menu-toggle-item-has-subcategories.open > a {
  display: none;
}

.menu-toggle-item-has-subcategories.open > .menu-toggle-nav-subcategories {
  display: grid;
}

.menu-toggle-container.open-subcategories
  .menu-toggle-nav-categories
  > li:not(.open) {
  display: none;
}

.menu-toggle-container.open-subcategories .user-login {
  display: none;
}

.menu-toggle-header-item {
  display: none;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4.5px 0;
}

.menu-toggle-header-item:last-child {
  display: flex;
}

.menu-toggle-header-item svg {
  margin-right: 15px;
}

.toggle-sidebar .account > div > span {
  font-weight: bold;
}

@media (min-width: 992px) {
  .header-menu {
    display: none;
  }

  .header .logo {
    /* margin-right: 4%; */
  }

  .header .logo img,
  .header .logo svg {
    max-width: 170px;
    max-height: 60px;
    transition: 0.3s ease-out;
    display: block;
  }

  .nav .list > li:hover > a {
    z-index: 3;
  }

  .nav .list > li:hover > a::before {
    content: " ";
    display: block;
    width: 165px;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .nav .list > li:hover > a::after {
    content: " ";
    display: block;
    width: 165px;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }

  .header-search-form {
    min-width: 350px;
    right: 0;
    left: inherit;
  }
}

@media (max-width: 1490px) {
  .header-content .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  .header-content .container .header-menu {
    margin-right: 0;
  }

  .header-account-cart {
    height: 100%;
    /* position: absolute; */
    top: 0;
    right: 15px;
  }

  .header-account-cart .header-cep {
    display: none;
  }

  .header .logo {
    display: inline-block;
  }

  .nav .list > .first-level {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .nav .list > li > a {
    font-size: 14px;
    padding: 17px 5px;
  }

  .nav .list li svg.bars {
    width: 20px;
  }

  .nav .list .second-level ul li a {
    font-size: 14px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .header-account-cart .account .login-links,
  .header-account-cart .account span {
    font-size: 12px;
  }

  .nav .list > .first-level:not(.first-level-all) {
    display: none;
  }

  .nav .list > .first-level.first-level-all {
    display: inline-block !important;
  }
}

@media (max-width: 991px) {
  .benefits {
    font-size: 13px;
    line-height: 18px;
    padding: 6px 0;
  }

  .nav {
    display: none;
  }

  .header-search-wrapper,
  .account {
    display: none;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    width: 36px;
    height: 30px;
    cursor: pointer;
    padding: 8px;
    margin-right: 13px;
  }

  .header-menu div {
    width: 100%;
    height: 2px;
    background-color: var(--color_header_icons);
  }

  .header .cart-toggle {
    display: none;
  }

  .header .line {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(145px + 1.25rem);
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }

  .header .logo {
    margin: 0;
    padding: 15px 0;
    display: block;
  }

  .header-account-cart {
    position: static;
    height: auto;
    min-width: auto;
    justify-content: flex-end;
    width: 65px;
  }

  .header-logo-menu {
    display: block;
  }

  .header .logo img,
  .header .logo svg {
    width: auto;
    max-height: 60px;
    transition: 0.3s ease-out;
    display: block;
    max-width: 135px;
    margin: auto;
  }

  .header-content {
    padding-bottom: 50px;
  }

  .header-search-form {
    display: block;
    padding: 0 15px 15px;
    top: auto;
    bottom: 0;
  }

  .header-search-form-content input.input-search {
    font-size: 13px;
    border: none;
    background-color: #f8f8f8;
    height: 35px;
    padding: 0 50px 0 20px;
  }

  .header-search-form-content button.button-search {
    top: 9px;
    right: 15px;
  }

  .header-search-form-content button.button-search svg {
    width: 15px;
    height: 15px;
  }

  .header-search-form-content .suggestion {
    position: absolute;
    top: 10px;
    left: -15px;
    width: calc(100% + 30px);
    padding: 0 15px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 18%);
  }

  .header-search-form-content .suggestion:not(.is-hidden) {
    display: block !important;
  }

  .suggestion-words span {
    margin-top: 5px;
  }

  .menu-toggle-nav-categories {
    margin-top: 20px;
  }

  .menu-toggle-nav-categories a {
    font-size: 14px;
    line-height: 20px;
  }
}

/* BANNERS */

.banners-carousel .swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banners-carousel .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.banners-carousel .swiper-container .swiper-slide .swiper-image {
  background-color: red;
  height: 100%;
  width: 100vw;
}

.banners-carousel .swiper-container .swiper-slide img {
  height: 100%;
  width: 100%;
}

.banner-grid {
  margin-top: 20px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
}
.banner-grid .banner-grid-item  {
  /* width: calc(50% - 10px); */
  min-height: 412px !important;
  flex: 0 0 auto;
  background-color: red;
}

/* FOOTER */

.footer {
  background-color: var(--color_footer_background);
  color: var(--color_footer_text);
  margin-top: 30px;
}

.footer .footer-main .social-media a {
  font-size: 22px;
  transition: ease-out 0.2s;
  margin: 0 0.625rem;
}

.footer .footer-main .social-media a:hover {
  opacity: 0.8;
}

.footer .footer-main .newsletter {
  width: 100%;
  padding: 40px 0;
}

.footer .footer-main .newsletter .info {
  width: 50%;
}

.footer .footer-main .newsletter .text .first {
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-main .newsletter .text .last {
  font-weight: 600;
}

.footer .footer-main .newsletter .form {
  width: 50%;
  padding-left: 1.25rem;
  position: relative;
}

.footer .footer-main .newsletter .form .field {
  height: 56px;
  font-weight: 600;
  width: 100%;
  padding: 1.0625rem 145px 1.0625rem 1.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.footer .footer-main .newsletter .form .news-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 39px;
  position: absolute;
  right: 6px;
  top: calc(50% - 19px);
  font-size: 0.875rem;
  border-radius: 4px;
  transition: ease-out 0.2s;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font_family);
  color: var(--color_buttons_action_1_text);
  background-color: var(--color_buttons_action_1_background);
  border: 1px solid var(--color_buttons_action_1_border);
}

.footer .footer-main .newsletter .form .news-button:hover {
  color: var(--color_buttons_action_1_text_hover);
  background-color: var(--color_buttons_action_1_background_hover);
  border-color: var(--color_buttons_action_1_border_hover);
}

.footer .footer-main .newsletter .form .news-button .icon {
  margin-left: 5px;
}

.footer .cols {
  padding: 30px 20px;
  max-width: 1330px;
  margin: auto;
}

.footer .cols .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 70px;
}

.footer .logo-box img {
  max-height: 74px;
  width: auto;
  height: auto;
}

.footer .social-media {
  margin-top: 20px;
}

.footer .social-media .icon {
  margin-right: 18px;
  transition: ease-out 0.2s;
}

.footer .title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  color: var(--color_footer_title);
}

.footer .payment-list + .title {
  margin-top: 15px;
}

.footer .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .list li {
  margin-bottom: 10px;
}

.footer .list a {
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 100;
  color: var(--color_footer_link);
}

.footer-social {
  display: flex;
}

.footer-social a {
  background-color: var(--color_social_background);
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-social a:hover {
  text-decoration: none;
  background-color: var(--color_social_background_hover);
}

.footer-social a svg {
  width: 23px;
}

.footer-social a svg,
.footer-social a svg * {
  fill: var(--color_social_icon);
}

.footer-social a:hover svg,
.footer-social a:hover svg * {
  fill: var(--color_social_icon_hover);
}

.footer .box-item + .box-item {
  margin-top: 50px;
}

.footer .payment-list,
.footer .security-seals {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .security-seals {
  margin-top: 15px;
}

.footer .payment-list li img {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.2s;
  display: block;
  margin: 0 10px 10px 0;
}

.footer .payment-list li img.loaded {
  opacity: 1;
  visibility: visible;
}

.footer .security-seals li {
  margin: 0 6px 6px 0;
}

.google-seal a {
  display: flex;
  align-items: center;
  color: var(--color_footer_link);
}

.google-seal a svg {
  margin-right: 10px;
}

.google-seal a svg,
.google-seal a svg * {
  fill: var(--color_footer_link);
}

.footer .copy {
  font-size: 13px;
  line-height: 18px;
  background-color: #000;
  color: #fff;
  position: relative;
  padding: 20px 0;
}

.footer .copy::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color_footer_text);
  opacity: 0.2;
}

.footer .copy .container {
  max-width: 1330px;
}

.footer .copy a {
  font-weight: bold;
}

.footer .copy img {
  max-width: 52px;
  height: auto;
}

.footer .copy .text {
  text-align: center;
}

.footer .copy .text p {
  margin: 0 0 8px;
}

.footer .dev {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  gap: 30px;
  padding: 10px 0 0;
}

.footer .dev li {
  display: flex;
  align-items: center;
}

.footer .dev span {
  margin-right: 10px;
}

@media (min-width: 992px) {
  .footer .payment-list,
  .footer .security-seals {
    max-width: 354px;
  }
}

@media (max-width: 1200px) {
  .footer .cols .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .footer .cols {
    padding: 40px 0;
  }

  .footer .cols .container {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .footer .box {
    margin-bottom: 25px;
    width: 100%;
  }

  .footer .box:last-child {
    margin-bottom: 0;
  }

  .footer .title {
    font-size: 15px;
  }

  .footer .logo-box {
    margin: 0 auto 35px;
    text-align: center;
  }

  .footer .social-media {
    justify-content: center;
  }

  .footer .social-media .icon {
    margin: 0 9px;
  }

  .footer .list a {
    padding: 5px 0;
    font-size: 15px;
  }

  .footer .copy {
    padding: 15px 0;
    text-align: center;
  }

  .footer .copy .dev {
    margin-top: 20px;
    width: auto;
    display: block;
  }

  .footer .dev li {
    justify-content: center;
  }

  .footer .dev li:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .footer .footer-main .newsletter .form .field {
    font-size: 16px;
  }
}

/* ABOUT US */

.about-us {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
}

.about-us .about-us-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-us .about-us-content {
  box-sizing: border-box;
  width: 100%;
  padding: 180px 100px 180px 0px;
  height: 100%; 
}
.about-us .about-us-content .subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
.about-us .about-us-content .title {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Philosopher';
  text-transform: uppercase;
  letter-spacing: 5.1px;
  margin-bottom: 30px;
}

.about-us .about-us-content .text {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  gap: 14px;
  font-weight: 300;
  font-size: 17px;
}

/* NEWSLETTER */

.newsletter {
  max-width: calc(100% - 310px);
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
}

.newsletter .newsletter-content {
  width: 100%;
  max-width: fit-content;
}

.newsletter .newsletter-content .subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.newsletter .newsletter-content .title {
  font-size: 30px;
  font-weight: 400;
  width: 100%;

  font-family: 'Philosopher';
  text-transform: uppercase;
  letter-spacing: 5.1px;
}

.newsletter .newsletter-form {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 10px
}


.newsletter .newsletter-form label {
  font-size: 13px;
  font-weight: 400;
}

.newsletter .newsletter-form input {
  border: 1px solid #C8CBCB;
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  padding: 18px 191px 18px 20px;
}

.newsletter .newsletter-form button {
  background-color: #BE9431;
  color: white;
  font-size: 18px;
  font-family: 'Philosopher';
  text-transform: uppercase;
  letter-spacing: 3.06px;
  padding: 10px 67px;
}