<div class="product-gallery">
    
    {{~ index = 1 ~}}

    <div class="product-images swiper swiper-container">
        <div class="swiper-wrapper">
            {{ for image in images }}
                <div class="image swiper-slide" data-index="{{ index }}">
                    <div class="image-zoom">
                        <img src="{{ image.url }}" alt="Produto imagem - {{ math.uuid }}">
                    </div>
                </div>
                {{~ index = index + 1 ~}}
            {{ end }}
        </div>
    </div>

</div>