<div class="product-shipping">
    <label for="shipping-quote-cep">Encontre o vendedor mais próximo de você:</label>
    <form onsubmit='{{ on_submit_click }}'>
        <input type="text" id="shipping-quote-cep" name="shipping-quote-cep" placeholder="Seu cep" maxlength="9" onkeypress="cepMask(this)">
        <button type="submit" class="btn btn-2">Procurar</button>
    </form>
    <!-- <div id="shipping-quotes-snippet-div"></div> -->
    <div class="container-cep-existing-seller">
        {{ cep_existing_seller }}
        {{ cep_existing_seller }}
        {{ cep_existing_seller }}
        {{ cep_existing_seller }}
        {{ cep_existing_seller }}
    </div>
</div>