{{ asset type: "js" paths: ["product_information_description"] }}

<div class="product-informations product-section">
  <div class="product-section-description">
    <div class="product-container-title">
      <h1>{{ title }}</h1>
      <div id="icon-container-description" onclick="toggleDescription()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="19" height="19" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
        </svg>
      </div>
    </div>
    <div class="product-container-description" id="description-container" style="display: none;">
      <!-- Descrição do produto -->
      <p>
        {{ description }}
      </p>
    </div>
  </div>
</div>